<header>
	<div class="navbar">
		<a class="navbar__logo" id="index_link" href="#" title="Link to the index">
			<img src="{{ asset('images/logo.png') }}" alt="Lancelle Clara\'s Logo">
		</a>

		<div id="menu-button">
			<div id="line-1"></div>
			<div id="line-2"></div>
			<div id="line-3"></div>
		</div>

		<nav role="navigation" id="nav_menus">
			<ul class="navbar__items">
				<li class="navbar__items__link">
					<a href="#me" title="Link to the 'about me' section">
						About me
					</a>
				</li>
				<li class="navbar__items__link">
					<a href="#skills" title="Link to the 'Skills' section">
						Skills
					</a>
				</li>
				<li class="navbar__items__link">
					<a href="#achievements" title="Link to the 'Achievements' section">
						Achievements
					</a>
				</li>
				<li class="navbar__items__link">
					<a href="#contact" title="Link to the 'contact' section">
						Contact
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="banner banner--small">
		<div class="banner__content">
			<header class="banner__header">
				<h1 class="banner__header__title">Lancelle Clara</h1>
				<h2 class="banner__header__subtitle">Student in Web development</h2>
			</header>
		</div>
	</header>
