// burger menu

@include x_smallScreen {
    #menu-button {
        width: 60px;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
        transition: all linear 0.3s;
        padding: 2px;
        z-index: 99;
    }

    #line-1,
    #line-2,
    #line-3 {
        background: $dark_white;
        width: 30px;
        height: 6px;
        margin: 6px auto;
        border-radius: 2px;
        transition: all linear 0.3s;

    }

    #line-1.active {
        -webkit-transform: translate(0px, 12px) rotate(45deg);
        transform: translate(0px, 12px) rotate(45deg);
    }

    #line-2.active {
        opacity: 0;
    }

    #line-3.active {
        -webkit-transform: translate(0px, -12px) rotate(-45deg);
        transform: translate(0px, -12px) rotate(-45deg);
    }

    #menu {
        transition: all linear .3s;
        display: none;
        background: inherit;
        width: 100%;

    }

    #menu-button.active+#menu {
        display: block;
    }

}