.achievements {
    .block__body {
        margin: 0 10%;

        @include smallScreen() {
            margin: 0 5%;
        }
    }

    &__card {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-bottom: grey solid 1px;
        padding-bottom: 2em;
        margin-bottom: 3em;

        &__title {
            width: 100%;
            text-align: center;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: $effects;
            text-underline-offset: .8em;
        }

        &__images {
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 27%;

            @include smallScreen() {
                width: 100%;
                flex-flow: row wrap;
                justify-content: space-evenly;
                margin-bottom: 1em;
            }

            img {
                width: 100%;

                @include smallScreen {
                    width: 45%;
                }
            }
        }

        &__text {
            width: 70%;
            font-family: 'Outfit', sans-serif;
            font-size: .8em;

            @include smallScreen() {
                width: 50%;
            }

            @include x_smallScreen() {
                width: 100%;

                blockquote {
                    margin: 0;
                }
            }

        }

        &__link {
            width: 100%;
            text-align: center;

        }
    }
}