// nav + banner

header {
    text-align: center;

    .navbar {
        justify-content: center;
        background-color: $navbar;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        position: fixed;
        display: grid;
        grid-template-rows: 1fr;
        padding: 5px;
        grid-column-gap: 30px;

        @include x_smallScreen {
            grid-auto-flow: column;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            margin: 2px;
            grid-row: 1;

            img {
                border-radius: 50px;
                width: 60px;
                height: 60px;

                @include x_smallScreen {
                    width: 50px;
                    height: 50px;
                    padding: 0px;
                }
            }
        }

        nav {
            align-self: center;
            grid-row: 1;

            .navbar__items {
                list-style: none;
                display: inline-grid;
                grid-template-columns: repeat(4, 200px);
                justify-content: center;
                align-items: center;
                padding: 0px;
                margin: 3px auto;

                @include smallScreen {
                    grid-template-columns: repeat(4, 150px);
                }

                @include x_smallScreen {
                    grid-template-columns: 1fr;
                }

                &__link {

                    a {
                        color: $dark_white;
                        font-family: "Raleway", sans-serif;
                        font-size: 20px;
                        text-decoration: none;

                        @include smallScreen {
                            font-size: 18px;
                        }

                        @include x_smallScreen {
                            font-size: 15px;
                        }

                        &:hover {
                            color: white;
                        }
                    }
                }

            }
        }

    }

    .banner {
        background-image: "../../images/bgd.jpg";
        background-size: cover;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        display: flex;
        box-sizing: border-box;
        min-height: 450px;
        margin-top: 68px;

        &--small {
            min-height: 400px;
            padding: 3rem 0%;
        }

        @include x_smallScreen {
            text-align: center;
            padding: 2rem 1rem;
        }


        h1.banner__header__title {
            font-size: 4rem;
            line-height: 4rem;
            font-weight: 700;
            margin-bottom: 3rem;
            text-transform: uppercase;
            color: $titles;

            @include x_smallScreen {
                font-size: 2rem;
            }
        }

        &__header__desc {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 3rem;
            font-weight: lighter;

            @include x_smallScreen {
                font-size: 1.5rem;
            }
        }

        &__body__welcome {
            font-size: 2rem;
            letter-spacing: 4px;
            color: rgba(74, 75, 78, 0.5411764706);
            background-color: rgba(46, 61, 98, 0.1);
            padding: 0.3rem 7rem;
            margin-bottom: 5rem;

            @include smallScreen {
                font-size: 1.5rem;
            }

            @include x_smallScreen {
                font-size: 1.3rem;
            }

            @include xx_smallScreen {
                padding: 0.3rem;
            }

        }

        &__body__desc {
            font-size: 1.5rem;
            line-height: 1.3rem;
            margin-bottom: 2rem;

            @include x_smallScreen {
                font-size: 1.2rem;
            }
        }

        a.scroll-down svg path {
            color: $effects;
        }
    }
}