// nav + banner
@mixin x_smallScreen {
    @media screen and (max-width: 699px) {
        @content;
    }
}

header {
    text-align: center;

    .navbar {
        background-color: $navbar;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        position: fixed;
        display: flex;
        padding: 5px;
        grid-column-gap: 30px;

        @include x_smallScreen() {
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            margin: 2px;

            img {
                border-radius: 50px;
                width: 60px;
                height: 60px;

                @include x_smallScreen() {
                    width: 50px;
                    height: 50px;
                    padding: 0px;
                }
            }
        }

        nav {
            align-self: center;
            width: 100%;

            .navbar__items {
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 0px;
                margin: 3px auto;

                @include smallScreen() {
                    flex-flow: row wrap;
                }

                &__link a {
                    color: $dark_white;
                }

                &__auth {
                    color: $effects;
                }

                &__link a,
                &__auth {
                    font-family: "Raleway", sans-serif;
                    font-size: 20px;
                    text-decoration: none;

                    @include smallScreen {
                        font-size: 18px;
                    }

                    @include x_smallScreen {
                        font-size: 15px;
                    }

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    .banner {
        // background-image: "../../images/bgd.jpg";
        // background-size: cover;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        display: flex;
        box-sizing: border-box;
        min-height: 450px;
        margin-top: 68px;

        &--small {
            min-height: auto;
            padding: 3rem 0%;
        }

        @include x_smallScreen {
            text-align: center;
            padding: 1rem;
        }


        &__header__title {
            font-size: 4rem;
            line-height: 4rem;
            font-weight: 700;
            margin-bottom: 3rem;
            text-transform: uppercase;
            color: $titles;

            @include x_smallScreen {
                font-size: 1.7em;
                line-height: 1.7em;
                margin-bottom: 0;
            }
        }

        &__header__subtitle {
            @include x_smallScreen() {
                font-size: 1em;
            }
        }

        &__header__desc {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 3rem;
            font-weight: lighter;

            @include x_smallScreen {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }

        &__body__desc {
            font-size: 1.5rem;
            line-height: 1.3rem;
            margin-bottom: 2rem;

            @include x_smallScreen {
                font-size: .8rem;
            }
        }

        a.scroll-down svg path {
            color: $effects;
        }
    }
}